name: Lint Workflow

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # Installer Semgrep avec pip
      - name: Install and Run Semgrep (pip)
        run: |
          python3 -m pip install --upgrade pip
          pip install semgrep
          semgrep --config=auto .

      - name: Run Hadolint
        run: |
          docker run --rm -i hadolint/hadolint < Dockerfile

      - name: Run Super-Linter
        if: github.event_name == 'pull_request'
        uses: github/super-linter@v4
